snippet 1 "single quote" i
'${1}'${2}
endsnippet

snippet 2 "double quote" i
"${1}"${2}
endsnippet

snippet 3 "brackets" i
[${1}]${2}
endsnippet

snippet 4 "brackets with single quote" i
['${1}']${2}
endsnippet

snippet 5 "parentheses" i
(${1})${2}
endsnippet

snippet 6 "curly brackets" i
{
	${1}
}${2}
endsnippet

snippet head "headline with empty body"
#
# ${1}
#

${2}

endsnippet
